<div>
    <div>
        My Categories
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>Username: </td> <td><%= @current_user.username %></td>
            </tr>
            <tr>
                <td>Email: </td> <td><%= @current_user.email %></td>
            </tr>
            <tr>
                <td colspan="2"><a class="btn btn-primary" href="/home"> Categories</td>
            </tr>
        </tbody>
    </table>
</div>
