<div>
    <h2>Add Notes categories</h2>
    <form action="/categories" method="post">
        <div class="form-group">
            <label>Category Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Category</button>
        </div>
        <div class="form-group">
            <p>View categories <a href="/home"> here</a> </p>
        </div>
    </form>
</div>
